.home-page-landingImage{
    width: 100vw;
    height: 90vh;
    background: url(../assets/black-adam-trailer.jpg) ;
    background-position: 50% 10%;
    background-size: cover;
    background-repeat: no-repeat;
    
  
  
}

.cardToggle{
    position: relative;
}